.video-detail{
    background-image: url('https://hicounselor.com/assets/frontend/images/images-new-home/video-section-vector.webp');
    background-position: center;
    background-size: cover;
    
}