.footer-header{
    background-image: url('https://hicounselor.com/assets/frontend/images/images-new-home/footer-background.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
}